{% extends "shop/basic.html" %}

{% block title %} {{product.product_name}} {% endblock %}

{% block css %}
   .product-img {
      border: 2px solid black;
      border-radius: 1rem;
   }
   .add-to-cart, .buynow {
      display: inline-block;
   }

   .add-to-cart button {
      padding: 10px 120px 10px 120px;
      font-size: 23px;
   }

   .buynow button {
      padding: 10px 140px 10px 135px;
      font-size: 23px;
   }

{% endblock %}

{% block body %} 
<div class="container mt-5">
   
   <div class="row">
      <div class="col-md-5">
         <img class="product-img" src="/media/{{product.image}}" alt="{{product.product_name}}" height="480px" width="480px" />
      </div>

      <div class="col-md-7">
         <div class="row">
            <h5>{{product.category}} | {{product.subcategory}}</h5>
            <h2>{{product.product_name}}</h2>
            <h6>{{product.subcategory}}</h6>
            <h6><strong class="">MRP: ₹ {{product.price}}</strong></h6>
            <h6><strong class="">SKU:</strong> {{product.id}}</h6>
            <p><strong class="">Description: </strong>{{product.desc}}</p>
         </div>
         <div class="add-to-cart me-1">
            <button type="button" class="btn btn-outline-dark">Add To Cart</button>
         </div>
         <div class="buynow me-1">
            <button type="button" class="btn btn-dark">Buy Now</button>
         </div>         
      </div>
   </div>
</div>
{% endblock body %}

{% block js %}
{% comment %} <script>
   if(localStorage.getItem('cart') == null){
      var cart = {};
   }
   else {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
   }

   $('.cart').click(function(){
      var idstr = this.id.toString();

      if(cart[idstr]!=undefined){
         cart[idstr] = cart[idstr] + 1;
      }
      else {
         cart[idstr] = 1;
      }

      localStorage.setItem('cart', JSON.stringify('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
   });

   var exampleEl = document.getElementById('cartpopover')
   var popover = new bootstrap.Popover(exampleEl)

   document.getElementById('cartpopover').setAttribute('data-bs-content', '<h4><u>This is a cart</u></h4>')

    

</script> {% endcomment %}
{% endblock %}